extends layout

block content
  h1 Home Page
  p Welcome #{currentUser? currentUser.full_name:'Guest'}

  if currentUser
    a.btn.btn-primary(href='/log-out') LOG OUT
    
  if messages
    h2 Messages
    for message in messages
      h3= message.title
      p= message.message
      if currentUser && currentUser.membership
        p Posted by #[strong #{message.user.full_name}] on #[strong #{message.timestamp}]
      if currentUser && currentUser.admin
        form(method='POST' action='delete-message')
          input(type='hidden' name='message' value=message._id)
          button.btn.btn-danger(type='submit') Delete
      hr
  else
    p No messages yet!
